.container{
    display: grid;
    background-color: red;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 20px;
    grid-template-rows: repeat(5, 200px);
    
}
.item{
    border: 1px solid greenyellow;
}

.item1{ grid-area: item1;}
.item2{ grid-area: item2;}
.item3{ grid-area: item3;}
